
#features {
    display: inline-block;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    font-family:'ubuntu';
  }
  
  #features .feature-block {
    background: #fff none repeat scroll 0 0;
    padding: 30px 20px;
    margin-bottom: 30px;
    transition: all 0.5s ease-in-out 0s;
  }
  
  #features .feature-block:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out 0s;
  }
  
  #features .feature-block h4 {
    margin-bottom: 20px;
  }
  
  #features .feature-block p {
    margin-bottom: 0;
  }
  .navbar navbar-expand-lg navbar navbar-light .collapse navbar-collapse .navbar-nav{
    color:black;
    
  }
  .site-section {
    font-family: ubuntu;
    padding: 2.5em 0;
   }
    
   .site-section .container .row col-md-6 mb-4{
     margin-top: -10px;
   }
   .navbar .collapse .navbar-nav .nav-item .nav-link{
     color: blue;
   }
   .navbar .collapse .navbar-nav #active .nav-link{
     color: black;
 
  }

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  
  #about{
    color: black;
  }
 
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  #about{
    padding:50px;
    font-family: ubuntu;
  }
 
}
.carousel-inner > .carousel-item > img {
  height: 80vh;
  width: 50vh;
}